<h1>Word Puzzle</h1>
<form action='/result'>
  <div class='form-group'>
    <label>Please insert your phrase here:</label>
    <input type="text" name="phrase" id="phrase" class="form-control">
  </div>
  <button type="submit" id="choice_submit" class='btn'>Puzzle it!</button>
</form>
